!!!!!!!!!!!!!!!
! URxvt
!!!!!!!!!!!!!!!

! General settings
URxvt.saveLines: 10000
URxvt.scrollBar: False
URxvt.scrollstyle: rxvt
URxvt*scrollTtyOutput: false
URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0
URxvt.termName: rxvt-unicode
URxvt.urgentOnBell: False
URxvt.visualBell: True
URxvt.cursorBlink: False
URxvt.iso14755: False

! Extensions
URxvt.perl-ext-common: default,clipboard,keyboard-select,url-select,vtwheel,font-size,confirm-paste,searchable-scrollback
URxvt.urlLauncher: xdg-open
URxvt.urlButton: 1
URxvt.underlineURLs: True

URxvt.copyCommand:  xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard

! Transparent
!URxvt*.transparent: true
! URxvt*.shading: 0 to 99 darkens, 101 to 200 lightens
!URxvt*.shading: 15

! Yankable URLs
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true

!!!!!!!!!!!!!!!
! Keybindings
!!!!!!!!!!!!!!!

URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.C-Escape: perl:keyboard-select:activate
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.keysym.C-Up:     perl:font-size:increase
URxvt.keysym.C-Down:   perl:font-size:decrease

! Ctrl+Arrow keys
URxvt.keysym.C-Left:    \033[1;5D
URxvt.keysym.C-Right:   \033[1;5C

!!!!!!!!!!!!!!!
! Fonts
!!!!!!!!!!!!!!!

!Courier
!URxvt.font: xft:Courier-10

!Inconsolata
URxvt.font: xft:Inconsolata-10
URxvt.boldFont: xft:Inconsolata-11
URxvt.letterSpace: -1

!Inconsolata-g
!URxvt.font: xft:InconsolataG-10
!URxvt.letterSpace: -1

!Anonymous Pro
!URxvt.font: xft:Anonymous\ Pro-12
!URxvt.letterSpace: -1

!Monaco
!URxvt.font: xft:Monaco-10
!URxvt.letterSpace: -1

!Droid Sans Mono
!URxvt.font: xft:Droid Sans Mono-10
!URxvt.letterSpace: -1

!DejaVu Sans
!URxvt.font: xft:DejaVu Sans Mono-10
!URxvt.letterSpace: -1

!Manospace
!URxvt.font: xft:Monospace-10
!URxvt.letterSpace: -1

!Terminus
!URxvt.font: xft:Terminus-10

URxvt.lineSpace: 1

!!!!!!!!!!!!!!!
! XTerm
!!!!!!!!!!!!!!!

! General settings
XTerm*termName: xterm-256color
XTerm*geometry: 80x24
XTerm*saveLines: 4096
XTerm*scrollBar: False
XTerm*loginshell: False
XTerm*cursorBlink: False

! Fonts and Encoding
XTerm*utf8: True
XTerm*locale: True
XTerm*utf8Title: True
XTerm*renderFont: True
XTerm*preeditType: Root
XTerm*xftAntialias: true
XTerm*faceName: xft:Inconsolata-12

! Trim trailing spaces
XTerm*trimSelection: true

! Fix alt-key inputting
XTerm*eightBitInput: false
XTerm*metaSendsEscape: true

! Copy and paste with clipboard
XTerm*translations: #override \
		Ctrl Shift <KeyPress> C: copy-selection(CLIPBOARD) \n\
		Ctrl Shift <KeyPress> V: insert-selection(CLIPBOARD)

! Allow selecting email/url by double-click
XTerm*charClass: 33:48,37-38:48,45-47:48,64:48,58:48,126:48,61:48,63:48,43:48,35:48

!!!!!!!!!!!!!!!
! Color schema
!!!!!!!!!!!!!!!

*.foreground:#CCCCCC
*.background:#000000
*cursorColor:#FDA53C

!black
*.color0:    #1b1d1e
*.color8:    #505354
!red
*.color1:    #D23D3D
*.color9:    #E84F4F
!green
*.color2:    #82b414
*.color10:   #b6e354
!yellow
*.color3:    #FDA53C
*.color11:   #FEE763
!blue
*.color4:    #4D73AA
*.color12:   #7391BC
!magenta
*.color5:    #624D8F
*.color13:   #8473A7
!cyan
*.color6:    #4D9085
*.color14:   #73A89F
!white
*.color7:    #ccccc6
*.color15:   #f8f8f2
